.overflow {
  height: 50%;
  overflow: hidden;
}
.overflow .card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.8);
}
img {
  width: 100%;
  height: auto;
}
.__className_f1548b {
  background-color: #031634;
}
.gallerytech {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-items: center;
  grid-auto-flow: dense;
}
.card img {
  background-color: #e8ddcb;
}
